In [ ]:
sql = """
CREATE SCHEMA IF NOT EXISTS retail;
SET search_path = retail, public;

DROP TABLE IF EXISTS customers;
DROP TABLE IF EXISTS stores;
DROP TABLE IF EXISTS products;
DROP TABLE IF EXISTS transactions;
DROP TABLE IF EXISTS transaction_items;


CREATE TABLE customers (
    customer_id INT PRIMARY KEY,
    loyalty_points INT
);

CREATE TABLE stores (
    store_id INT PRIMARY KEY
    store_name VARCHAR(255) PRIMARY KEY
);

CREATE TABLE products (
    product_name VARCHAR(255),
    aisle VARCHAR(255),
    PRIMARY KEY (product_name, aisle)
);

CREATE TABLE transactions (
    customer_id INT,
    store_name VARCHAR(255),
    transaction_date DATE,
    PRIMARY KEY (customer_id, store_name, transaction_date),
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id),
    FOREIGN KEY (store_name) REFERENCES stores(store_name)
);


CREATE TABLE transaction_items (
    customer_id INT,
    store_name VARCHAR(255),
    transaction_date DATE,
    product_name VARCHAR(255),
    aisle VARCHAR(255),
    quantity INT,
    unit_price DECIMAL(10,2),
    total_amount DECIMAL(10,2),
    discount_amount DECIMAL(10,2),
    final_amount DECIMAL(10,2),
    PRIMARY KEY (customer_id, store_name, transaction_date,product_name, aisle),
    FOREIGN KEY (customer_id, store_name, transaction_date) REFERENCES transactions(customer_id, store_name, transaction_date),
    FOREIGN KEY (product_name, aisle) REFERENCES products(product_name, aisle)
);

"""

In [ ]:

CREATE TABLE customers (
    customer_id SERIAL PRIMARY KEY,
    loyalty_points INT
);


CREATE TABLE stores (
    store_id SERIAL PRIMARY KEY,
    store_name VARCHAR(100) UNIQUE NOT NULL
);

CREATE TABLE aisles (
    aisle_id SERIAL PRIMARY KEY,
    aisle_name VARCHAR(100) UNIQUE NOT NULL
);


CREATE TABLE products (
    product_id SERIAL PRIMARY KEY,
    product_name VARCHAR(100) NOT NULL,
    aisle_id INT NOT NULL,
    FOREIGN KEY (aisle_id) REFERENCES aisles(aisle_id)
);


CREATE TABLE transactions (
    transaction_id SERIAL PRIMARY KEY,
    customer_id INT NOT NULL,
    store_id INT NOT NULL,
    transaction_date DATE NOT NULL,
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id),
    FOREIGN KEY (store_id) REFERENCES stores(store_id)
);


CREATE TABLE transaction_items (
    item_id SERIAL PRIMARY KEY,
    transaction_id INT NOT NULL,
    product_id INT NOT NULL,
    quantity INT NOT NULL,
    unit_price DECIMAL(10,2) NOT NULL,
    total_amount DECIMAL(10,2)NOT NULL,,
    discount_amount DECIMAL(10,2),
    final_amount DECIMAL(10,2)NOT NULL,,
    FOREIGN KEY (transaction_id) REFERENCES transactions(transaction_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id)
);